<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/search-select/css/search-select.css">
    <style>
        form div{
            float: left;
        }
    </style>
</head>
<body style="width: 100%;height: 1200px;">
<div id="vm-id">

    <form id="form-id" type="post" enctype="multipart/form-data">
        <div style="width:200px;margin-left:200px;margin-top:100px;height: 30px;border:1px solid black">
            <div id="test1Id" class="search-select-cls ">

            </div>
        </div>
        <div style="width:200px;margin-left:200px;margin-top:100px;height: 30px;border:1px solid black">
            <div id="test1Id1" class="search-select-cls ">

            </div>
        </div>


    </form>
    <button @click="getChecked">获取选中值</button>
    <input type="hidden" th:value="${usersJSON}" id="usersJSON">
</div>
<script type="text/javascript" th:src="${'/lib/jquery.min.js'}"></script>
<script type="text/javascript" th:src="${'/lib/bootstrap/js/bootstrap.min.js'}"></script>
<script type="text/javascript" th:src="${'/lib/vue2/vue.min.js'}"></script>
<script type="text/javascript" th:src="${'/lib/search-select/js/search-select.js'}"></script>

</body>
<script>
    var vm;
    var search1=null;
    var search2=null;
    vm = new Vue({
        el: '#vm-id',
        data: {
            users:[]
        },
        methods: {
            getChecked:function () {
                if(search1!=null){
                    alert('search1-val:'+search1.checked)
                }
                if(search2!=null){
                    alert('search2-val:'+search2.checked);
                }
            }
        }
    });
    <!--监测vm实例的vtitle属性的变化；newval:变化后的值；oldval:变化前的值-->
    vm.$watch('vtitle',function (newval,oldval) {
        alert(oldval+'---->'+newval)
    })

    $('#form-id').submit(function () {
        var file1=$('#file-1').get(0).files[0];
        var file2=$('#file-2').get(0).files[0];
        var formData=new FormData();
        formData.append("id","123id");
        formData.append("userJSON",JSON.stringify(vm.user))
        formData.append("files",file1);
        formData.append("files",file2)
        $.ajax({
            url:'/formMultiple',
            type:'POST',
            data:formData,
            async: false,
            cache: false,
            contentType: false, //不设置内容类型
            processData: false, //不处理数
            success:function (resp) {
                alert(resp)
            },
            error:function (resp) {
                alert(resp.msg)
            }
        })
        return false;
    })
    vm.$nextTick(function () {
        vm.users=JSON.parse($('#usersJSON').val());
        var data=new Object();
        data.id="test1Id";
        data.options=[
            {val:'00',text:'abc'},
            {val:'01',text:'abcdabcdababcdabcdababcdabcdababcdabcdab'},
            {val:'02',text:'bcd'},
            {val:'03',text:'bcd'},
            {val:'04',text:'bcd'},
            {val:'05',text:'bcd'},
            {val:'06',text:'cde'}
            ];
        data.checked='02';
        search1=new SearchSelect(data);
        search1.checkedChange=function () {
            alert(search1.checked)
        }

        var data1=new Object();
        data1.id="test1Id1";
        data1.options=[
            {val:'000',text:'abc'},
            {val:'001',text:'abcdabcdababcdabcdababcdabcdababcdabcdab'},
            {val:'002',text:'bcd'},
            {val:'003',text:'bcd'},
            {val:'004',text:'bcd'},
            {val:'005',text:'bcd'},
            {val:'006',text:'cde'}
            ];
        search2=new SearchSelect(data1);
    })
</script>
</html>