<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>模板语法</title>
</head>
<body>
<div id="vm-id">
    <p>1.组件test-title测试：</p>
    <test-title v-bind:title="vtest" v-bind:message="vmsg"></test-title>

    </form>

</div>
<script type="text/javascript" th:src="${'/lib/jquery.min.js'}"></script>
<script type="text/javascript" th:src="${'/lib/bootstrap/js/bootstrap.min.js'}"></script>
<script type="text/javascript" th:src="${'/lib/vue2/vue.min.js'}"></script>
<script type="text/javascript" th:src="${'/js/vue-test/vue-component.js'}"></script>

</body>
<script>
    function test() {
        alert('test:'+vm.vtest)
    }
    var vm;
    vm = new Vue({
        el: '#vm-id',
        data: {
            vtest:'vtest-val',
            vmsg:'vmsg-val'
        },
        computed: {
        },
        methods: {
        },
        beforeCreate:function () {
            console.log('beforeCreate')
        },
        created: function () {
            console.log('created:' + this.datas);
        },
        beforeMount:function () {
            console.log('beforeMount')
        },
        mounted: function () {
            console.log('mounted:' + this.datas)
        },
        beforeUpdate:function () {
            console.log('beforeUpdate')
        },
        update:function () {
            console.log('update')
        },
        beforeDestory:function () {
            console.log('beforeDestory')
        },
        destory:function () {
            console.log('destory')
        }
    });
    vm.$nextTick(function () {
    })
</script>
</html>