<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
</head>
<body>
<div id="vm-id">
    <p>-----------------------------</p>
    <test-title v-bind:title="vtitle" v-bind:message="vmessage"></test-title>
    <p>----------------------------</p>
    <form id="form-id" type="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td th:each="user:${users}" th:text="${user.name}"></td>
            </tr>
        </table>
        <button onclick="test()">test</button>
        <button @click="showdatas">showdatas</button>
        <button @click="testarr">testarr</button>
        <span>名字：</span><input  type="text" v-model="user.name">
        <span>年龄：</span><input type="number" v-model="user.age">
        <!--v-bind同步属性，将title属性和user.name属性同步-->
        <span>v-bind测试</span><input type="text" v-bind:title="user.name">
        <!--用v-on绑定事件-->
        <button type="button" v-on:click="clickEvent">v-on测试</button>
        <input  type="file" id="file-1">
        <input  type="file" id="file-2">

        <button @click="submit">submit</button>
        <button type="submit">formDataSubmit</button><span>请求{{state}}</span>
    </form>

    <input type="hidden" th:value="${userJSON}" id="userJSON">
    <input type="hidden" th:value="${usersJSON}" id="usersJSON">
</div>
<script type="text/javascript" th:src="${'/lib/jquery.min.js'}"></script>
<script type="text/javascript" th:src="${'/lib/bootstrap/js/bootstrap.min.js'}"></script>
<script type="text/javascript" th:src="${'/lib/vue2/vue.min.js'}"></script>
<script type="text/javascript" th:src="${'/js/vue-test/vue-component.js'}"></script>

</body>
<script>
    function test() {
        alert('test:'+vm.datas)
    }
    var vm;
    vm = new Vue({
        el: '#vm-id',
        data: {
            vtitle: '标题',
            vmessage: '文本内容',
            datas: [],
            arr:['a','b','c'],
            user:'',
            state:'',
            zp:''
        },
        methods: {
            clickEvent:function () {
                alert(vm.user.name)
            },
            testarr:function () {
              vm.arr.forEach(function (a) {
                  console.log('arr:'+a)
              })
            },
            showdatas: function () {
                vm.datas.forEach(function (u){
                console.log('name:'+u.name)
            })
            },
            fileChange:function (e) {
              this.zp=e.target.files[0];
            },
            submit:function () {
                $.ajax({
                    url:'/userSubmit',
                    type:'POST',
                    async:true,
                    data:JSON.stringify(vm.user),
                    contentType:'application/json',
                    success:function (resp) {
                        vm.state=JSON.parse(resp).msg;
//                        alert(resp)
                    },
                    error:function (resp) {
                        alert(resp.msg)
                    }
                })
            },
            formDataSubmit:function () {
                var reader=new FileReader();
                reader.readAsDataURL(vm.zps);
                var json={
                    id:'123',
                    test:'test123',
                    userJSON:JSON.stringify(vm.user)
                }
//                $.post('/formdataSubmit',json,function () {
//                    vm.state='formdataSubmit-success'
//                })
//                json=JSON.stringify(json)
                $.ajax({
                    url:'/formdataSubmit',
                    type:'POST',
                    async:false,
                    dataType:'JSON',
                    data:json,
                    success:function (resp) {
                        alert(resp)
                    },
                    error:function (resp) {
                        alert(resp.msg)
                    }
                })
            }
        },
        beforeCreate:function () {
          console.log('beforeCreate')
        },
        created: function () {
            console.log('created:' + this.datas);
        },
        beforeMount:function () {
            console.log('beforeMount')
        },
        mounted: function () {
            console.log('mounted:' + this.datas)
        },
        beforeUpdate:function () {
            console.log('beforeUpdate')
        },
        update:function () {
            console.log('update')
        },
        beforeDestory:function () {
            console.log('beforeDestory')
        },
        destory:function () {
            console.log('destory')
        }
    });
    <!--监测vm实例的vtitle属性的变化；newval:变化后的值；oldval:变化前的值-->
    vm.$watch('vtitle',function (newval,oldval) {
        alert(oldval+'---->'+newval)
    })

    $('#form-id').submit(function () {
        var file1=$('#file-1').get(0).files[0];
        var file2=$('#file-2').get(0).files[0];
        var formData=new FormData();
        formData.append("id","123id");
        formData.append("userJSON",JSON.stringify(vm.user))
        formData.append("files",file1);
        formData.append("files",file2)
        $.ajax({
            url:'/formMultiple',
            type:'POST',
            data:formData,
            async: false,
            cache: false,
            contentType: false, //不设置内容类型
            processData: false, //不处理数
            success:function (resp) {
                alert(resp)
            },
            error:function (resp) {
                alert(resp.msg)
            }
        })
        return false;
    })
    vm.$nextTick(function () {
        this.datas=JSON.parse($('#usersJSON').val())
        this.user = JSON.parse($('#userJSON').val())
    })
</script>
</html>